*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(to bottom,#fff8ef,#ffe8ef);
    color:#444;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content h1{
    font-size:64px;
    color:#ef8eb2;
    margin-bottom:20px;
}

.subtitle{
    font-size:28px;
    color:#666;
    margin-bottom:35px;
}

button{
    background:#f48fb1;
    color:white;
    border:none;
    padding:18px 50px;
    font-size:22px;
    border-radius:999px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
    background:#ec6f9e;
}

.quote{
    margin-top:35px;
    font-size:24px;
    font-style:italic;
    color:#666;
}

.hidden{
    display:none;
}

#letterForm{
    max-width:700px;
    margin:60px auto;
    background:white;
    padding:40px;
    border-radius:30px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

#letterForm h2{
    margin-bottom:25px;
    color:#ef8eb2;
}

#letterForm input,
#letterForm textarea{
    width:100%;
    padding:15px;
    margin:15px 0;
    border:none;
    border-radius:15px;
    background:#fff7fa;
    font-size:17px;
}

#letterForm textarea{
    height:180px;
    resize:none;
}
